body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 280px;
    perspective: 1000px;
    margin: 20px; 
    
}

.card-inner {
    position: relative;
    width: 280px;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin: 20px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 280px;
    backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-front {
    background-color: white;
    padding: 20px;
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;   
}


.card-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.card-content {
    text-align: center;
    padding: 10px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.rating .star {
    color: gold;
}

.product-description, .product-details {
    color: #777;
    font-size: 14px;
    margin: 10px 0;
}

.product-name {
    font-size: 18px;
    color: #333;
}

.product-price {
    font-size: 16px;
    color: #27ae60;
    margin: 10px 0;
}

.product-price .original-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
}

.product-price .discount {
    color: #e74c3c;
    margin-left: 10px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}
