.header_section{
    height: 100px;
    width: 1200px;
    
    border: solid 0px white;
    margin: auto;
}
.logo{
    height: 100px;
    width: 100px;
    border: solid 0px rgb(251, 251, 251);
    text-align: center;
    float: left;
}
.menu{
    height: 100px;
    width: 900px;
    border: solid 0px rgb(251, 251, 251);
    text-align: center;
    float: left;
}
.menu_list{
    list-style: none;
    color: aliceblue;
}
.menu_item{
    float: left;
    border: solid 1px wheat;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: antiquewhite;
    color: black;
    margin: 7px;
}

