body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header_section{
    height: 100px;
    width: 1200px;
    
    border: solid 0px white;
    margin: auto;
}
.logo{
    height: 100px;
    width: 400px;
    border: solid 0px rgb(251, 251, 251);
    text-align: left;
    float: left;
}
.menu{
    height: 100px;
    width: auto;
    border: solid 0px rgb(251, 251, 251);
    text-align: center;
    float: left;
}
.menu_list{
    list-style: none;
    color: aliceblue;
}
.menu_item{
    float: left;
    border: solid 5px wheat;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: black;
    color:  rgb(250, 238, 4);
    margin: 7px;
}

.center_section{
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    border: solid 10px bisque;
    padding: 25px;
}

.center_heading{
    font-family: Arial, Helvetica, sans-serif;}

.left_center_section{
    width: 200px;
    padding: 10px;
}
.right_center_section{
    width: 1000px;
    /* border: solid 1px black; */
}    

button{
    background-color: rgb(250, 238, 4);
    border: solid 2px black;
    border-radius: 30px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    
}

.sub_h1{
    color:  rgb(250, 238, 4);
}