.header{
    height: 70px;
    width: 1200px;
    border: solid 0px black;
    margin: auto;
    
}
.logo{
    float: left;
    width: 400px;
    height: 70px;
    text-align: center;
    padding-top: 1px;
}
.menu{
    float: left;
}
.ul_c{
    list-style: none;
}
.li_c{
    display: inline-block;
    border: saddlebrown solid 1px;
    background-color: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 30px;
    margin-right: 0px;
}
a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo_name{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    color: rgb(211, 211, 211);
}


/* center section  */

.center_section{
    height: 300px;
    width: 1200px;
    background-color: black;
    border: solid 0px white;
    margin: auto;
}

.left_center{
    float: left;
    height: 270px;
    width: 400px;
    border: solid 0px white;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.right_center{
    float: left;
    color: white;
    height: 300px;
    width: 795px;
    border: solid 0px wheat;
}
.h1_c{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

.s_p{
    color: white;
}
.p_c{
    font-family: Arial, Helvetica, sans-serif;
}

.view_more{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: yellow;
}