.outerbox{
    height:543px;
    width: 543px;
    background-color: antiquewhite;
    border: solid 5px black;
    margin: auto;
}

.row_box{
    height: 66px;
    width: 544px;
    background-color: aqua;
}
.black_box{
    height: 66px;
    width: 66px;
    background-color: rgb(200, 196, 196);
    float: left;
    font-size: 50px;
    text-align: center;
    border: solid 1px black;
}
.white_box{
    height: 66px;
    width: 66px;
    background-color: rgb(247, 246, 246);
    float: left;
    font-size: 50px;
    text-align: center;
    border: solid 1px black;
}