
.bg_outer {
    /* background-image: url("../image/open-book.png"); */
    /* background-repeat: repeat;    */
  }

.header{
    height: 100px;
    width: 1200px;
    border: solid 0px black;
    margin: auto;
}
.logo{
    float: left;
    height: 100px;
    width: 100px;
    border: solid 0px black;
}
.logo_name{
    float: left;
    height: 100px;
    width: 200px;
    border: solid 0px black;
}
.menu{
    float: left;
    height: 100px;
    width: 894px;
    border: solid 0px black;
}
.logo_text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 24px;
    margin-top: 30px;
    color: rgb(254, 46, 46);
}
.u_m{
    list-style: none;
    
}

.l_i{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: solid 1px rgb(56, 139, 255);
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: red;
       
}
a{
    text-decoration: none;color: white; 
}

/* center section */

.center_section{
    height:400px;
    width:1200px;
    border : solid 0px black;
    margin:auto;
}
.left_section{
    height:400px;
    width:400px;
    border : solid 0px black; 
    float: left;
   
}

.right_section{
    height:400px;
    width:786px;
    border : solid 0px black;
    float: left; 
    padding-left: 10px;
}

.heading_store_1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 1px;
}
.sub_heading{
    font-size: 40px;
    color: rgb(85, 139, 226);
    text-decoration: solid;
}
.heading_sub_2{
    font-size: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.heading_text_3{
    font-size: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.view_more{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #68048d;
    color: white;
    border: solid  1px rgb(0, 69, 15);
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;

}
.list_item{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.book_list{
    margin-left: -40px;
}