.outerbox{
    height: 800px;
    width: 800px;
    border: solid 10px rgba(6, 6, 6, 0.861);
    margin: auto;
}
.row_box{
    width: 800px;
    height: 100px;
    background-color: red;
}

.black_box{
    height: 100px; 
    width: 100px;
    background-color: rgb(165, 163, 163);
    float: left;
    text-align: center;
    font-size: 70px;
}
.white_box{
    height: 100px; 
    width: 100px;
    background-color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    font-size: 70px;
}