.outer_box{
    height: 640px;
    width: 640px;
    border: solid 10px black;
    margin: auto;
}
.row_box{
    height: 80px;
    width: 640px;
    background-color: aqua;
}
.black_box{
    height: 80px;
    width: 80px;
    background-color: rgb(216, 214, 214);
    float: left;
    font-size: 60px;
    text-align: center;
}

.white_box{
    height: 80px;
    width: 80px;
    background-color: rgb(248, 248, 248);
    float: left;
    font-size: 60px;
    text-align: center;
}