body{
    background-color: black;
}
.header{
    background-color: black;
    height: 120px;
    border-bottom: solid 3px rgb(205, 251, 152);
}
.logo{
    width: 200px;
    height: 100px;
    text-align: right;
    padding-top: 10px;
    float: left;
}
.logo_name{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: rgb(205, 251, 152);
    padding-top: 32px;
    padding-left: 20px;
}
.menu{
    height:100px;
    width:600px;
    float:left;
}
.main_menu{
    list-style-type: none;
}
.menu_item{
    border: solid 3px rgb(205, 251, 152);
    float: left;
    margin: 10px;
    padding: 15px;
    font-size: 25px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    color: rgb(205, 251, 152);
}
h1{
    color: rgb(205, 251, 152);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.center_box{
    width: 1200px;
    height: 500px;
    border: solid 0px rgb(205, 251, 152);
    margin: auto;
    margin-top: 50px;
}

.leftbox{
    width: 400px;
    height: 430px;
    border-right: solid 0px rgb(205, 251, 152);
    float: left;
    text-align: center;
    padding-top: 70px;
}
.rightbox{
    width: 790px;
    height: 500px;
    float: left;
    border: solid 0px rgb(205, 251, 152);
    color: rgb(205, 251, 152);
}
.center_heading{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: white;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 10px;
    color: white;
}
ul{
    list-style-type: square;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 10px;
}