.box{
    height: 400px;
    width: 400px;
    border: solid 1px black;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.image_list{
    height: 100px;
    width: 500px;
    border: solid 0px black;
    margin: auto;
    margin-top: 10px;
}
ul{
    list-style: none;
}
li{
    float: left;
    border: solid 1px black;
    padding: 5px;
    border-radius:5px;
    margin-right: 10px;
    background-color: antiquewhite;

}