.header{
    width: 1200px;
    height: 100px;
    background-color: cadetblue;
    border: solid 1px;
    margin: auto;
}
.logo{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.menu_outer{
    list-style: none;
    float: left;
    margin-top: 25px;
}
.menu{
    display: inline-block;
    float: left;
    border: solid 1px black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    
    background-color: black;
    border-radius: 20px;

}
.alink {
    text-decoration: none;
    color: white;
  }