.header_box{
    /* background-color: beige; */
    height: 100px;
    border: solid 0px black;
    width: 1200px;
    margin: auto;
    background-color: rgb(245, 245, 155);
}

.header_manu{
    list-style: none;
    float: left;
}

.menu_items{
    float: left;
    border: solid 0px black;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: rgb(246, 1, 1);
    cursor: pointer;
}
.logo{
    float: left;
    margin-top: 18px;
    margin-left: 20px;
}

.center_section{
    width: 1200px;
    height: 350px;
    margin: auto;
    border: solid 0px black;
    background-color: rgb(245, 245, 155);
}
.center_section_left{
    width: 295px;
    height: 300px;
    float: left;
    border: solid 0px black;
    text-align: center;
    padding-top: 40px;
}
.center_section_right{
    width: 900px;
    height: 300px;
    float: left;
    border: solid 0px black;
}
.h1_txt{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
.h1_span{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 3, 3);
    font-weight: bold;
}

.fork{
    margin-left: 10px;
    margin-right: -5px;
}

.p_txt{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.h_hr{
    width: 4px;
    height: 120px;
    border: solid 1px black;
    background-color: black;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -1px;

}
.btn_order{
    width: 200px;
    height: 50px;
    background-color: rgb(248, 3, 3);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px rgb(248, 3, 3);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}