ul{
    list-style: none;
}

li{
    height: 60px;
    width: 100px;
    border: solid 1px black;
    float: left;
    text-align: center;
    padding-top: 40px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

.yellow{
    background-color: rgb(107, 107, 6);
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}