body{
    background-color: rgb(0, 0, 0);
}
.header_section{
    width: 1200px;
    height: 100px;
    margin: auto;
    border: solid 0px #ffffff;
}
.block1{
    width: 100px;
    height: 100px;
    border: solid 0px #ffffff;
    float: left;
    text-align: center;
}
.block2{
    width: 260px;
    height: 100px;
    border: solid 0px #ffffff;
    float: left;
    text-align: left;
    font-family: Arial, sans-serif;
    color: azure;
}
.block3{
    width: 800px;
    height: 100px;
    border: solid 0px #ffffff;
    float: left;
}

.logo_text1{
    color: #E74444;
}
.logo_text2{
    color:#F3DB70;
}

.nav{
    list-style: none;
}
.menu_item{
    float: left;
    border: solid 2px #F3DB70;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    background-color: #E74444;
    
}
a{
    text-decoration: none;
    color: #F3DB70;
}